.App {
  margin: 1rem 0;
  padding: 0;
  display: flex;
}

.container {
  max-width: 75%;
}

.logo-container {
  position: fixed;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transform: translateY(-15rem);
}

.logo-container .logo {
  transform: scale(0.5) rotate(-14deg);
}

.menu-item {
  width: 100%;
}

h5 {
  font-size: 1.15rem;
  font-weight: 400;
}

.badge {
  font-weight: inherit;
}
